@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');

.projectPage-container {
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    justify-items: center;
    color: white;
    background: #100720;
    border: 2px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.top-content-row {
    width: 100vw;
}

.data-columns {
    justify-content: center;
    height: 200px;
    border: 1px solid white;
}


.project-heading {
    letter-spacing: 2px;
}

.project-description {
    font-family: 'Nunito', sans-serif;
}

/* .projectPage-content-rows {
    text-align: center;
    padding: 10px;
} */

.projectPage-labels {
    text-align: end;
    font-weight: 600;
}

.buttons {
    max-width: 1525px !important;
    height: 75px;
}


.buttons-row {
    justify-content: center;
}


@media only screen and (max-width: 600px) {
    .projectPage-labels {
        text-align: center;
    }

    .test-container {
        max-width: 100vw;
        min-height: 500px;
    }
}

